.App{
    max-width: 600px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.App footer{
    font-size: 11px;
    margin: 10px auto;
    text-align: center;
}
.a{
    color:  rgba(7, 66, 7, 0.68);
}
.a :hover{
    animation: forwards;
    color: brown;
}