.Weather {
    max-width: 600px;
    border: 1px solid rgb(32, 33, 36);
    border-radius: 4px;
    padding: 16px;
    color: rgb(135, 135, 135);
 
  
}
.Weather h1{
    display: block;
    font-size: 24px;
    font-weight: 100px;
    margin: 20px 0 10px ;
    line-height: 29px;
}
.Weather ul{
    margin: 0;
    padding: 0;
}

.Weather li{
    font-size: 14px;
    font-weight: 100;
    line-height: 18px;
    list-style: none;
}

.Weather img{
    background-color: red;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
   
}
.Weather .temperature{
    color: rgb(33, 33, 33);
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    background-color: red;
    
      
}
.Weather .unit{
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    line-height: 1;
    top: -24px;
    margin-left: 5px;
}

